@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: gray;
}

.wrapper {
  width: 25rem;
  border-radius: 7px;
  background-color: #fff;
}

.wrapper header {
  display: flex;
  align-items: center;
  color: #43affc;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid #43affc;
}

header i {
  cursor: pointer;
  font-size: 0;
  margin-right: 8px;
}

/** For header active */

.wrapper.active header i {
  font-size: 30px;
  margin-left: 5px;
}

.wrapper .input-section {
  /* display: none; */
  margin: 20px 25px 30px;
}

/** If wrapper active => input none */
.wrapper.active .input-section {
  display: none;
}

.input-section .info-text {
  display: none;
  color: gray;
  font-size: 1.1rem;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.info-text.error {
  display: block;
  color: #a70d1d;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-text.deny {
  display: block;
  color: #a70d1d;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-text.pending {
  display: block;
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}

.input-section :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 7px;
  background: #fff;
}

.input-section input {
  text-align: center;
  border: 1px solid #43affc;
}

.input-section input:is(:focus, :valid) {
  border: 2px solid #43affc;
}

.input-section .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  content: "or";
  color: gray;
  font-size: 1.18rem;
  padding: 0 15px;
  background: #fff;
}

.input-section button {
  /* margin-top: 0.8rem; */
  cursor: pointer;
  color: #fff;
  background-color: #43affc;
}

/* Weather Section */

.wrapper .weather-section {
  margin: 2rem 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/** If wrapper active => weather display flex */
.wrapper.active .weather-section {
  display: flex;
}

.weather-section img {
  max-width: 7.813rem;
}

.weather-section .temp {
  display: flex;
  font-size: 4.5rem;
  font-weight: 500;
}

.weather-section .temp .number {
  font-weight: 600;
}

.weather-section .temp .degree {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}

.weather-section .location {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 2rem;
}

.location i {
  font-size: 22px;
  margin-right: 10px;
}

.weather-section .bottom-details {
  /* background: red; */
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #bfbfbf;
  justify-content: space-between;
}

.bottom-details .column {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}

.column i {
  color: #43affc;
  font-size: 2.5rem;
}

.column.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .degree {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}

.details p {
  font-size: 14px;
  margin-top: -6px;
}
